header nav ul{
    list-style-type: none;
    text-align: center;
}
header nav ul li{
     border : solid  thin;
}

header nav ul li a{
    text-decoration: none;
}

header nav ul li:hover {
    background-color : gray;
}

header nav ul li a:hover {
    color : gold;
}

h1 img{
    width: 100%;
    height: 400px;
}

aside {
    border: dashed gray;
}

aside img{
    height: 12rem;
    width: 12rem;
    margin: auto;
    display: block;
}

aside ul{
    list-style-type: none
}

aside ul li a{
    text-decoration: none;
    border: solid thin black;
    text-align: center;
}

aside ul li img{
    height: 1em;
    width: 1em;
}


aside ul li a:hover {
    color : gold;
}

#walter{
    background-color: gold;
    border-radius: 5%;
}

#walter img {
    border-radius: 15%;
}

#jesse {
    background-color: gold;
    border-radius: 5%;
}

#jesse img {
    border-radius: 15%;
}

