body {
    display:flex ;
    flex-wrap: wrap;
}

header {
    flex-basis: 100%;
}

header nav ul{
    display: flex;
}
header nav ul li{
    flex-basis: 100%;
}


header nav ul li{
    flex-basis: 100%;
}



main {
    flex-basis:80%;
}

main ul li {
    display: flex;
    margin-bottom: 2em;
}

aside {
    flex-basis: 15%;   
    margin-left: 2rem;
    margin-bottom: 2rem;
}

aside nav ul li{
    display: flex;
}

aside nav ul li a{
    display: block;
    flex-basis: 75%;  
}

aside img{
    height: 12rem;
    width: 10rem;
    margin: auto;
    display: block;
}

footer {
    flex-basis: 100%;
    background-color: gray;
}

* p,h1,#jesse img,#walter img,h2,header ul{
    margin: 0.25em;
    padding: 0.5em;
}


